cmake
flask
opencv-python
certifi
chardet
click
decorator
face-recognition
face-recognition-models
idna
imageio
imageio-ffmpeg
moviepy
numpy
Pillow
proglog
requests
tqdm
urllib3
wincertstore
dlib
