<!DOCTYPE html>
<html>
<head>
    <title>
        Level Of Confidence
    </title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='stylesheets/style_head.css') }}">
</head>

<body>
    
    <div class="container" style="display: flex;">
        <div class="container1">
            <div class="container3" style="margin: 200px 20px 0 0; display: flex; flex-wrap: wrap; justify-content: left;">
                {% for student in students_faces %}
                <div class="container5">
                    <img src="{{ student['img'] }}" style="margin: 20px 45px 0 0; height: 115px; width: 90px; opacity: 0.3;">
                    <div class="container6" style="text-align: left; font-size: 10.5px; margin: 0 20px 0 0;"> {{ student['family_name'] }} </div>
                    <div class="container7" style="text-align: left; font-size: 10.5px;"> {{ student['first_name'] }} </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="container2">
            <div class="container4" style="display: flex; flex-direction: column; flex-grow: 4;">
                <div class="container8" src="{{ url_for('matched_name') }}" style="text-align: left; font-size: 20px;"></div>
                <img src= "{{ url_for('image_feed') }}" style="height: 400px; width: 300px; margin: 80px 10px 20px 10px;">
                <img src="{{ url_for('video_feed') }}" style="height: 400px; width: 300px; margin: 0 0 10px 10px;">
            </div>
        </div>
    </div>


</body>


</html>
