<!DOCTYPE html>
<html>


<body>


        <div style="width: 100%;">
            <div style="width: 50%; height: 100%; float: left;"> 
                {% for name in images %}
                <img src="{{ name }}" height=20% width="11.5%">
                {% endfor %} 
            </div>
            <div style="margin-left: 60%; height: 100%;">
                <img src= "{{ last }}" height="60%" width="30%">
                <h3 class="mt-5">Live Streaming</h3>
                <img src="{{ url_for('video_feed') }}" height="60%" width="60%">
            </div>
        </div>


</body>


</html>
